/* nav */

.v--show>.submenu {
    @apply block;
}

.header-active {
    @apply fixed bg-white h-screen z-50;
}

.nav-active {
    @apply block absolute left-0 px-4 overflow-y-auto;
    top:100px;
    height: calc(100% - 100px);
}

/* Custom */

.btn {
    @apply bg-black text-white px-6 py-2 rounded uppercase font-bold text-sm;
}