html {
    font-size: 16px;
}
body {
    @apply text-black leading-relaxed m-0 p-0 overflow-x-hidden antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading leading-tight font-bold m-0 mb-4;
}
h1 {
    @apply text-h1;
}
h2 {
    @apply text-h2;
}
h3 {
    @apply text-h3;
}
h4 {
    @apply text-h4;
}
h5 {
    @apply text-h5;
}
h6 {
    @apply text-h6;
}

a {
    @apply  text-red font-bold;
}
a:hover {
    @apply text-dkred;
}
p {
    @apply text-base m-0 mb-4;
}

img {
    @apply h-auto max-w-full;
}

.row {
    @apply flex flex-wrap -mx-4;

    &>* {
         @apply px-4;
     }
}

#cookie-bar {
    z-index: 999999;
}

.compat-object-fit {
    background-size: cover;
    background-position: center;
}
.compat-object-fit img {
    @apply opacity-0;
}

.image-wrapper-of {
    height: 200px;
    @apply w-full;
}
.image-wrapper-of img {
    @apply w-full h-full;
    object-fit: cover;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}
.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.swiper-container {
    opacity:0;
    transition:100ms ease opacity;
    transition-delay:100ms;

    &.swiper-container-initialized {
         opacity:1;
     }
}

.lazyload {
    opacity:0;
    transition:100ms ease opacity;
    transition-delay:100ms;

    &.loaded {
         opacity:1;
     }
}



.content-wrapper {
    a {
        @apply underline;
    }

    ol,ul {
        @apply ml-6 my-8;

        li {
            @apply mb-6;
        }

        li::marker {
            @apply font-bold;
        }
    }

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
    }

    .alignwide {
        @apply -mx-4;
    }

    .alignfull {
        margin-left: calc(-100vw / 2 + 100% / 2);
        margin-right: calc(-100vw / 2 + 100% / 2);
        max-width:100vw;
    }

    .alignfull img {
        @apply w-screen;
    }
}