.gform_wrapper form {
    @apply bg-white;
}
.gform_body {
    @apply bg-white;
}
.gform_body
input,
textarea,
select {
    @apply bg-white border-0 border-b border-red;
}
.gform_body
input[type=checkbox],
input[type=radio] {
    @apply border mb-1 mx-2 border-red focus:outline-none focus:ring-0;
}
.gform_body
input[type=checkbox]:checked,
input[type=radio]:checked {
    @apply !bg-red;
}
input[type=submit] {
    @apply bg-red;
}

/* Footer Form */
.footer-form .gform_wrapper form {
    @apply bg-dkgray;
}
.footer-form .gform_wrapper form .gform_body {
    @apply bg-dkgray;
}
.footer-form .gform_wrapper form .gform_body
input,
textarea,
select {
    @apply bg-white border-0 border-b border-red;
}
.footer-form .gform_wrapper form .gform_body
input[type=checkbox],
input[type=radio] {
    @apply border mb-1 mx-2 border-red focus:outline-none focus:ring-0;
}
.gform_body
input[type=checkbox]:checked,
input[type=radio]:checked,
input[type=submit] {
    @apply !bg-red;
}
.gform_body
input[type=submit] {
    @apply hover:bg-dkred;
}
